<a href="https://colab.research.google.com/github/aakifjas/PythonLab/blob/main/python_lab_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
v1 = eval(input('please enter first no :  '))
v2 = eval(input('please enter second no :  '))
sum = v1+v2
print(v1,'+',v2,'=',sum)

please enter first no :  23
please enter second no :  44
23 + 44 = 67

In [ ]:
x = 20
y = 30
x+y

50

In [ ]:
x = '20'
y = '30'
x+y

'2030'

In [ ]:
x = 20
y = 30
x-y

-10

In [ ]:
x = 20
y = 30
x*y

600

In [ ]:
x = '20'
y = 30
x*y

'202020202020202020202020202020202020202020202020202020202020'

In [ ]:
x = 20
y = '30'
x*y

'3030303030303030303030303030303030303030'

In [ ]:
x = 20
y = 30
x/y

0.6666666666666666

In [ ]:
x = 20
y = 30
x//y

0

In [ ]:
x = 20
y = 30
x%y

20

In [ ]:
x = 20
y = 30
x**y

1073741824000000000000000000000000000000

In [ ]:
x = 3
x = x + 3

In [ ]:
x

6

In [ ]:
x*2

12

In [ ]:
x = 20
y = 10
print('x+y=', x+y)
print('x-y=', x-y)
print('x*y=', x*y)
print('x/y=', x/y)
print('x//y=', x//y)
print('x**y=', x**y)

x+y= 30
x-y= 10
x*y= 200
x/y= 2.0
x//y= 2
x**y= 10240000000000

In [ ]:
x = 20 + 20.5
print('+ operation is evaluated= ',x)

+ operation is evaluated=  40.5

In [ ]:
x = 200 + 20.0*5
print('+ operation is evaluated= ',x)

+ operation is evaluated=  300.0

In [ ]:
x = 20 + 20/2*5
print('+ operation is evaluated= ',x)

+ operation is evaluated=  70.0

In [ ]:
x = 100 * 5 + (10 % 2)**1
print(x)

500

In [ ]:
x = 10
x += 1
print(x)

11

In [ ]:
x = 10
x -= 1
print(x)

9

In [ ]:
x = 10
x *= 1
print(x)

10

In [ ]:
print('fibonacci series')
n1 = input('enter the number:  ')
n = int(n1)
if (n>0):
  f = 0
  s = 1
  i = 0
  next = 0
  while(1):
    print('\n\n********************************************************')
    for i in range (n+1):
      if (i <= 1):
        print(i)
      else:
        next = f+s
        f = s
        s = next
        print(next)
    i = i + 1
    break
else:
  print('you have entered wrong number',  n )

fibonacci series
enter the number:  16


********************************************************
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987

In [ ]:
colors = ['red','blue','white']
print(colors)

['red', 'blue', 'white']

In [ ]:
n1 = int(input('enter first number :  '))
n2 = int(input('enter second number :  '))
sumvalue = (n1-n2)
print('the sum of the given numbers is' , sumvalue )

enter first number :  30
enter second number :  20
the sum of the given numbers is 10

In [ ]:
x = 15
y = 5
print('x + y =' , x+y)
print('x - y =' , x-y)
print('x * y =' , x*y)
print('x / y =' , x/y)
print('x // y =' , x//y)
print('x ** y =' , x**y)

x + y = 20
x - y = 10
x * y = 75
x / y = 3.0
x // y = 3
x ** y = 759375

In [ ]:
x = 10
y = 12
print('x > y is' , x>y)
print('x < y is' , x<y)
print('x == y is' , x==y)
print('x != y is' , x!=y)
print('x >= y is' , x>=y)
print('x <= y is' , x<=y)

x > y is False
x < y is True
x == y is False
x != y is True
x >= y is False
x <= y is True

In [ ]:
x = True
y = False
print('x and y is' , x and y)
print('x or y is' , x or y)
print('not x is' , not x)

x and y is False
x or y is True
not x is False

In [ ]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'hello'
x3 = [1,2,3]
y3 = [1,2,3]
print(x1 is not y1)
print(x2 is y2)
print(x3 is y3)

False
False
False

In [ ]:
x = 'Hello world'
y = {1:'a' , 2:'b'}
print('H' in x)
print('hello' not in x)
print(1 in y)
print('a' in y)

True
True
True
False

In [ ]:
a = 10
b = 4
k = a&b
print(k)

0

In [ ]:
a = 10
b = 4
k = a | b
print(k)

14

In [ ]:
a = 10
b = 4
print('~a =' , ~a)

~a = -11

In [ ]:
a = 10
b = -10
print('a >> 1 =' , a >> 1)
print('b >> 1 =' , b >> 1)

a >> 1 = 5
b >> 1 = -5