<a href="https://colab.research.google.com/github/aakifjas/PythonLab/blob/main/python_lab_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def printme( str ):
  'this prints a passed string into this function'
  print (str) 
  return;

In [ ]:
def printme( str ):
  'this prints a passed string into this function'
  print (str) 
  return;

printme(" I'm first call to user defined function!" )
printme("again second call to the same function")

 I'm first call to user defined function!
again second call to the same function

In [ ]:
def changeme( mylist ):
  'this changes a passed list into this function'
  mylist.append([1,2,3,4]);
  print('values inside the function:  ', mylist)
  return

mylist = [10,20,30];
changeme( mylist );
print('values outside the function: ',mylist  )

values inside the function:   [10, 20, 30, [1, 2, 3, 4]]
values outside the function:  [10, 20, 30, [1, 2, 3, 4]]

In [ ]:
def changeme( mylist ):
  'this changes a passed list into this function'
  mylist = [1,2,3,4];
  print('values inside the function: ',mylist)
  return


mylist = [10,20,30];
changeme( mylist );
print('values outside the function: ',mylist)

values inside the function:  [1, 2, 3, 4]
values outside the function:  [10, 20, 30]

In [ ]:
def printme( str ):
  'this prints a passed string into this function'
  print (str) 
  return;

In [ ]:
def printme(str):
  'this prints a passed string into this function'
  print(str)
  return;

printme(str)

<class 'str'>

In [ ]:
def printme(str):
  'this prints a passed string into this function'
  print (str)
  return;

printme(str = 'my string')

my string

In [ ]:
def printinfo( name , age ):
  'this prints a passed info into this function'
  print ('name: ',name)
  print ('age:',age)
  return;

printinfo( age=50, name='asuna')

name:  asuna
age: 50

In [ ]:
def printinfo( name , age = 30 ):
  'this prints a passed info into this function'
  print('name:',name )
  print('age:',age)
  return;

printinfo( age = 35, name = 'asuna')
printinfo( name = 'asuna')

name: asuna
age: 35
name: asuna
age: 30

In [ ]:
def printinfo( arg1, *vartuple  ):
  'this prints a variable passed arguments'
  print('output is:')
  print(arg1)
  for var in vartuple:
    print(var)
    return;

printinfo( 10 )
printinfo( 70, 60,50 )

output is:
10
output is:
70
60

In [ ]:
total = 0;
def sum( arg1 , arg2 ):
  total = arg1 + arg2;
  print('inside the function local total: ',total)
  return total;

sum(10,20);
print('outside the function global total: ',total)

inside the function local total:  30
outside the function global total:  0

In [ ]:
from math import sqrt
max_value = eval(input('display primes up to what value? '))
value = 2

while value <= max_value:
  is_prime = True
  trial_factor = 2
  root = sqrt(value)
  while trial_factor <= root:
    if value % trial_factor == 0:
      is_prime = False;
      break
    trial_factor += 1
  if is_prime:
    print(value, end='')
  value += 1

print()

display primes up to what value? 5
235

In [ ]:
from time import clock

print('enter your name: ',end='')
start_time = clock()
name = input()
elapsed = clock() - start_time
print(name, 'it took you ', elapsed, 'seconds to respond')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  after removing the cwd from sys.path.

enter your name: astha
astha it took you  0.03529999999999944 seconds to respond

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead

In [ ]:
from time import clock

max_value = 10000
count = 0
start_time = clock()
for value in range(2, max_value + 1):
  is_prime = True
  for trial_factor in range(2, value):
    if value % trial_factor == 0:
      is_prime = False
      break
  if is_prime:
    count += 1
print()
elapsed = clock() - start_time
print('count: ', 'elapsed time: ', elapsed, 'sec')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  """

count:  elapsed time:  0.6662300000000023 sec

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  from ipykernel import kernelapp as app

In [ ]:
from time import sleep

for count in range(10,-1,-1):
  print(count)
  sleep(1)

10
9
8
7
6
5
4
3
2
1
0

In [ ]:
from random import randrange , seed

seed (23)
for i in range (0,100):
  print(randrange(1,1000))
print()

948
799
972
297
914
850
86
18
607
315
434
389
543
367
134
744
197
274
456
15
227
636
466
924
26
109
88
728
511
432
21
525
643
752
442
368
790
59
211
802
37
604
378
674
177
636
222
995
753
372
580
779
881
378
992
586
289
677
999
322
587
88
834
486
182
736
495
605
811
459
692
658
168
187
819
183
547
332
690
836
533
201
597
118
85
101
437
40
582
283
963
587
288
841
605
339
112
379
922
296

In [ ]:
from random import randrange
for i in range(0,3):
  value = randrange(1,6)
  print('+-------------+')
  if value == 1:
    print('|             |')
    print('|      *      |')
    print('|             |')
  elif value == 2:
    print('|*            |')
    print('|             |')
    print('|            *|')
  elif value == 3:
    print('|            *|')
    print('|      *      |')
    print('|*            |')
  elif value == 4:
    print('|*           *|')
    print('|             |')
    print('|*           *|')   
  elif value == 5:
    print('|*           *|')
    print('|      *      |')
    print('|*           *|')

print('+-------------+')

+-------------+
|             |
|      *      |
|             |
+-------------+
|*           *|
|             |
|*           *|
+-------------+
|*            |
|             |
|            *|
+-------------+

In [ ]:
def gcd (m,n):
  min = m if m < n else n
  largestfactor = 1
  for i in range (1, min + 1):
    if m % i == 0 and n % i == 0:
      largestfactor = i
  return largestfactor

def get_int():
  return int (input('please enter an integer: ')) 
def main ():
  n1 = get_int()
  n2 = get_int()
  print('gcd(', n1, ',' ,  n2 , ') = ' , gcd(n1,n2) , sep = '')  
main()

please enter an integer: 7
please enter an integer: 5
gcd(7,5) = 1

In [ ]:
def increment (x):
  print('beginning execution of increment, x= ',  x )
  x += 1
  print('ending execution of increment, x= ', x )

def main():
  x = 5
  print('before increment, x=', x )
  increment(x)
  print('after increment, x=', x ) 
  
main()

before increment, x= 5
beginning execution of increment, x=  5
ending execution of increment, x=  6
after increment, x= 5

In [ ]:
def countdown(n=24):
  for count in range (n,-1,-1):
    print(count)

countdown()

24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [ ]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)

def main():
  print('0! = ', factorial(0))
  print('1! = ', factorial(1))
  print('6! = ', factorial(6))
  print('10! = ', factorial(10))

main()

0! =  1
1! =  1
6! =  720
10! =  3628800

In [ ]:
from math import sqrt

def is_prime(n):
  trial_factor = 2
  root = sqrt(n)
  while trial_factor  <= root :
    if n % trial_factor == 0:
      return False;

  return True;

In [ ]:
from primecode import is_prime 

def main():
  num = int(input('enter an integer: '))
  if is_prime(num):
    print(num,'is prime')
  else:
    print(num,'is NOT prime')

ModuleNotFoundError: ignored

In [ ]:
def add(x,y):
  return x+y
def multiply(x,y):
  return x*y
def evaluate(f,x,y):
  return f(x,y)
def main():
  print(add(2,3)) 
  print(multiply(2,3))
  print(evaluate(add,2,3))
  print(evaluate(multiply,2,3))

main()

5
6
5
6